* {
    color: #363732;
    width: auto;
    height: auto;
    font-size: medium;
}
body {
    background-color: #DCE1E9;
}

.top-color {
    background-color: #ea8c55;
    height: 5%;
}

.back-color {
    background-color: #363732;
}
.borda-color {
    border-color: #ea8c55;
    border-width: 4px;
    border-style: double groove;
}
.xtra-lite {
    font-weight: lighter;
}
.ultra {
    font-stretch: ultra-expanded;
}
.project-title {
    color: #363732;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(234, 140, 85, 0), rgba(234, 140, 85, 0.75), rgba(234, 140, 85, 0));
}
.orange-font {
    color: #ea8c55;
}
.gainsboro {
    color: #dce1e9;
}
.tall-boy {
    background-color: #ea8c55;
    transform: rotate(45deg) translateX(1px) translateY(-1px);
}
.tall-boy-butt {
    background-color: #ea8c55;
    transform: rotate(225deg) translateX(-24px) translateY(-21px);
}

.outline-box {
    background-color: #ea8c55;
    transform: rotate(225deg) translateX(-22px) translateY(-21px);
}
.text-in-the-area {
    color: #363732;
}