* {
    color: #DCE1E9;
}
body {
    background-color: #DCE1E9;
}

.top-color {
    background-color: #ea8c55;
    height: 5%;
}

.back-color {
    background-color: #363732;
}
.borda-color {
    border-color: #ea8c55;
    border-width: 4px;
    border-style: double groove;
}
.xtra-lite {
    font-weight: lighter;
}
.ultra {
    font-stretch: ultra-expanded;
}